

.shapeMenu-wrapper {
  height: 100%;
  width: 100%;
}

.shapeMenu {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.shapeMenu > h2 {
  color: rgb(97, 27, 2);
  text-align: center;
}

.shape-group {
  display: flex;
  justify-content: space-evenly;
}

.shape-item-active {
  background-color: rgb(245, 223, 137);
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 5px;
}
.shape-item {
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 5px;
}