.nav-element {
  background-color: #0c1018;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "logo logo empty empty empty empty empty empty empty empty"
    "logo logo button button button button button button button button";
  grid-area: nav;
}

.main-logo {
  background-color: #0c1018;
  
  grid-area: logo;
  text-align: center; 
}
.main-logo-img {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.empty-nav {
  grid-area: empty;
}

.tool-group {
  align-items: center;
  background-color: #0c1018;
  display: flex;
  justify-content: space-evenly;
  grid-area: button;
}

.tool-item {
  background-color: cornsilk;
  border: 2px solid teal;
  border-radius: 5px;
  fill: teal;
}

.tool-item-active {
  background-color: rgb(245, 223, 137);
  border: 2px solid teal;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgb(173, 173, 170);
  fill: teal;
}

.icon {
  height: 50px;
  width: 60px;
}

